.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.close-png {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 55px;
  z-index: 100000;
  background-color: #3a3939;
  border-radius: 50%;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

.caregiver-report {
  height: 100%;
}

.caregiver-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

.caregiver-info table {
  margin: 1%;
  width: 85%;
  border-collapse: collapse;
  margin-top: 0%;
}

.caregiver-info table th {
  letter-spacing: 0.2em;
  width: 291px;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #777;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 12px;
}
.caregiver-info table td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  height: 10%;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.caregiver-info table thead {
  height: 15%;
}

.caregiver-info table tbody {
  height: 85%;
}

.caregiver-info table tr {
  height: auto;
  white-space: nowrap;
}

td,
th {
  line-height: 1.8;
}

th:nth-child(4) {
  width: 15%;
}

button.view-button {
  border: none;
  background: none;
  padding: 1% 3%;
  border-radius: 4%;
  background-color: #fd9515;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 420px) {
  .caregiver-info table th {
    font-size: 14px;
  }

  td,
  th {
    line-height: 1;
  }

  .caregiver-info th:nth-child(3),
  .caregiver-info th:nth-child(4),
  .caregiver-info td:nth-child(3),
  .caregiver-info td:nth-child(4) {
    display: none;
  }

  .caregiver-info th:nth-child(5),
  .caregiver-info td:nth-child(5) {
    width: 30%;
  }

  .caregiver-info table td {
    font-size: 14px;
    padding: 5px 3px;
  }
  button.view-button {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* .search-holder {
    width: 92%;
} */
.select-div {
  width: 31%;
}
.caregiver-info table th {
  padding: 10px 5px;
  font-size: 10px;
}
.caregiver-info table th:nth-child(4),
.caregiver-info td:nth-child(4) {
  width: 20%;
}
.caregiver-info table td {
  padding: 5px;
  font-size: 11px;
}
.sort-icons img {
  position: absolute;
  right: -5px;
  top: -8px;
  width: 15px;
  height: 15px;

}
.activity-container {
    height: 85%;
    width: 90%;
}
.caregiver-activity-list .caregiver-activities {
    height: 71%;
}
.close-png {
    height: 28px;
    top: 20px;
    right: 13px;
    background-color: transparent;

}

}